<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md mt-6">
            <form class="p-3" style="max-width: 970px;" method="POST" action="/profile/modal/2fa/remove">
                <div class="form-group p-3">
                    <label for="inputOTP">Enter Code from Authenticator app</label>
                    <input name="otp" type="text" class="form-control" id="inputOTP"
                           placeholder="Enter OTP">
                </div>
                <div class="px-3 text-center">
                    <button type="submit" class="btn btn-primary p-3">Disable 2FA</button>
                </div>
            </form>
        </div>
    </div>
</div>